<header>
  <div>
    <a class="site-title" href="/">{{ site.title }}</a>
    <small>
      {% if site.tagshort %}
      {{ site.tagshort }}
      {% else %}
      {{ site.taglong }}
      {% endif %}
    </small>
  </div>
  <a id="theme-toggle" class="toggle-icon" onclick="modeSwitcher()"></a>
   <!-- nav -->
      <div>
      <h3 class="float-md-start mb-0">Cover</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">links</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">About</a>
      </nav>
    </div>
</header>
