<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
        <!-- include svg -->
      <!--   <a class="particles-icon" href="mailto:UserNamePlus@outlook.Com">{% include svg/send-mail-circled.svg %}</a> -->
      <!--   <a class="particles-icon" href="https://github.com">{% include svg/github-outline.svg %}</a> -->
      <!--   <a class="particles-icon" href="cv">{% include svg/cv-circled.svg %}</a> -->
      
      <a class="particles-icon" href="about"><i class="fa fa-user fa-2x"></i></a>
      <a class="particles-icon" href="bookmark"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
      <i class="fa fa-coffee" aria-hidden="true""></i>
      <i class="fa fa-commenting" aria-hidden="true"></i>
      <i class="fa fa-envelope" aria-hidden="true" /></i>
    </div>
  </div>
</div>
