<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
      <a class="particles-icon" href="mailto:michele.piazzai@uc3m.es">{% include svg/send-mail-circled.svg %}</a>
      <a class="particles-icon" href="https://github.com">{% include svg/github-outline.svg %}</a>
      <a class="particles-icon" href="cv">{% include svg/cv-circled.svg %}</a>
      <a class="particles-icon" href="#"><i class="fa fa-home fa-fw"></i></a>
      <a class="particles-icon" href="#"><i class="fa fa-book fa-fw"></i></a>
      <a class="particles-icon" href="#"><i class="fa fa-pencil fa-fw"></i></a>
      <a class="particles-icon" href="#"><i class="fa fa-cog fa-fw"></i></a>
      <i class="fa fa-comments" aria-hidden="true" /></i>
      <li>
      <a class="particles-icon" href="https://icp.me/piazzai/cv/"><i class="fa fa-slideshare"></i></a>
      <a class="particles-icon" href="https://icp.me/piazzai/cv/"><i class="fa fa-camera-retro fa-5x"></i>
      <a href="http://www.htmleaf.com/css3/ui-design/"><span><i class="fa fa-slideshare"></i> UI界面设计</span></a>      
       </li>
    </div>
  </div>
</div>
